################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RogueOne/bin/Debug/net9.0
/RogueOne/obj
