@{
    ViewData["Title"] = "Home Page";
}
@model RogueOne.ViewModels.UserDescription

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>User: @Model.Username --> UserId: @Model.UserId</p>
</div>
