@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <form>
                <div class="row">
                    <h5 class="card-title">Enter Instagram username:</h5>
                    <div class="col-10">
                        <input class="form-control" id="username" />
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary" onclick="indexScript.getPopulateUserInfo()" type="button">Go</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">User Information</h5>
            <div id="userInfo">
            </div>
        </div>
    </div>
</div>

<div class="container mt-5" id="captionsBox" style="display:none">
    <div class="card">
        <div class="card-body">
            <div class="row" id="captionsRow">
                
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="~/js/IndexScript.js"></script>
